<div class="Page-Area">
<div class="Page-Title">
勤務打刻時間マスター
</div>
<div class="Page-Text">
全従業員の勤務時間打刻が確認可能です
</div>
<div class="DashBoard">
<table class="table">
  <thead>
    <tr>
      <th>打刻対象ID</th>
      <th>打刻対象氏名</th>
      <th>出勤打刻日時</th>
      <th>退勤打刻日時</th>
      <th>勤務時間</th>
      <th>手当</th>
      <th>最終更新者</th>
    </tr>
  </thead>
  <tbody>
  <% if @attendacebook.present?%>
  <% i = 1%>
    <% @attendacebook.each do |attendance| %>
      <tr>
        <td><%= format("%04d", attendance.user_id) %></td>
        <td><%= attendance.user_id %></td>
        <% if attendance.in.nil? %>
        <td>打刻エラー</td>
        <% else %>
        <td><%= attendance.in.strftime('%Y/%m/%d %H:%M:%S') %></td>
        <% end %>
        <% if attendance.out.nil? %>
        <td>打刻エラー</td>
        <td>勤務中</td>
        <% else %>
        <td><%= attendance.out.strftime('%Y/%m/%d %H:%M:%S') %></td>
        <td><%= sprintf("%.1f",(attendance.out - attendance.in).floor / 60 /60.to_f) %></td>
        <% end %>
        <td><%= attendance.benefit.presence || 0 %></td>
        <td><%= attendance.updater %></td>
      </tr>
      <% i += 1%>
    <% end %>
  <% end %>
  </tbody>
</table>
</div>
</div>